mixin news-card(image, day, month, year, tag, title, text, href)
	li.news-card.__js_masonry-item.col-12.col-lg-4.col-md-6&attributes(attributes)
		.news-card__wrapper
			.news-card__pic
				img(src="img/picture/news/" + image.n + ".jpg", width= image.w, height= image.h alt="")
			.news-card__content
				.news-card__top
					.news-card__date
						span= day
						span &nbsp;
						span= month
						span ,&nbsp;
						span= year
						span &nbsp;/&nbsp;
						span= tag
					.news-card__title!= title
				.news-card__bottom
					.news-card__text!= text
					+arrow-link('', URLS.blog.post, 'arrow-link--no-scale')
