mixin news-card(image, day, month, year, tag, title, text, href)
	li.news-card.__js_masonry-item.col-12.col-lg-4.col-md-6&attributes(attributes)
		.news-card__wrapper
			.news-card__pic
				picture
					source(type="image/webp", srcset="img/picture/news/" + image.n + ".webp 1x, img/picture/news/" + image.n + "@2x.webp 2x")
					img(src="img/picture/news/" + image.n + ".jpg", srcset="img/picture/news/" + image.n + "@2x.jpg 2x", width= image.w, height= image.h alt="")
			.news-card__content
				.news-card__top
					.news-card__date
						span= day
						span &nbsp;
						span= month
						span ,&nbsp;
						span= year
						span &nbsp;/&nbsp;
						span= tag
					.news-card__title!= title
				.news-card__bottom
					.news-card__text!= text
					+arrow-link()
